<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <title>Timeline</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/monitorWhole.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/loader.css') }}">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
      <script type="text/javascript">
         var filenames_obj = {{ filenames|safe }};
         var no_of_doc = {{ no_of_doc|safe }};
         var actions_obj = {{ actions|safe }};
         var revisions_obj = {{ revisions|safe }};
      </script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
      <script src="{{ url_for('static', filename='js/monitorWhole.js') }}"></script>
   </head>
   <body >
      <div id="mainLoader"  style="display: none; margin: auto; margin-top: 40vh" ></div>
      <div id="body" class="mt-3">
         <div class="d-flex flex-row"  style=" gap: 2vw">
            <!--// left side-->
            <div style="width: 40vw">
               <div class="d-flex flex-row align-items-center mb-3 mt-3" >
                  <h4>Project ID: </h4>
               </div>
               <form >
               <div class="d-flex flex-row align-items-center" style="gap: 1vw">
                  <label for="jump">Jump To:</label>
                  <input type="text" id="jumpIndex" name="jump" ><br><br>
                  <button id="jump" type="button" class="btn btn-primary">Jump!</button>
                  <div style="flex:1"></div>
               </div>
               <div class="d-flex flex-row align-items-center mt-4 mb-5"style="gap:1vw;">
                  <div >
                     <div>Select Mode: </div>
                  </div>
                  <div class="btn-group rounded" role="group" aria-label="Basic group for mode">
                     <input type="radio" class="btn-check" name="btnMode" id="byFiles" autocomplete="off" >
                        <label class=" btn btn-outline-primary" for="byFiles">
                           <a style="text-decoration:none; " href="/monitor"> By Files</a>
                        </label>
                     <input type="radio" class="btn-check" name="btnMode" id="byTime" autocomplete="off" checked>
                     <label class=" btn btn-outline-primary" for="byTime">By Time</label>
                  </div>
               </div>
            <div class="d-flex flex-row align-items-center justify-content-start mt-5" style="gap:2vw">
               <i id = "prev" class="bi bi-arrow-left-circle-fill h1"></i>
               <input type="range" class="form-range" id="myRange" data-slider-id='ex1Slider' max= {{ no_of_doc - 1 }} value="0" style="width:30vw"
               data-bs-toggle="tooltip" data-bs-placement="top"
               data-bs-custom-class="custom-tooltip"
               data-bs-title="Value: 4">
               <i id="next" class="bi bi-arrow-right-circle-fill h1"></i>

            </div>
            <div class="d-flex justify-content-center mt-2" style="ap: 1vw;">
               <div id= "info" class="d-flex flex-column justify-content-center align-items-center mt-3">
                  <div id="file" style="font-weight: 700"> File: </div>
                  <div id="userName" style="font-weight: 700"> Username: </div>
                  <div id="timeStamp" style="font-weight: 700"> Timestamp: </div>
                  <div id="currentIdx" style="font-weight: 700"> Index: </div>
               </div>
               <div id="control" class="mt-3 d-flex flex-column align-items-center justify-content-center">
                  <div id="meta"></div>
               </div>
            </div>
               </form>
            </div>
<!--            right side-->
            <div style="width: 40vw">
               <div class="d-flex flex-column align-items-center justify-content-center mt-3" >
               <div id="loader" class="loader" style="margin-top: 20vh" ></div>
               <div id="buttonGroup" class="" style="width: 40vw" >
                  <div class="btn-group fileButtons rounded" role="group" aria-label="Basic radio toggle button group" style="display: flex; flex-direction: row; flex-wrap: wrap;">
                     <div style="flex:1"></div>
                  </div>
               </div>
               <div id="mainContainer" style="width: 40vw" >
                  <div id="displayLines" ></div>
                  <div id="displayContent" class="displayContent" style="overflow:scroll; height: 85vh"  >
                     "The beginning of edits"
                  </div>
               </div>
            </div>
               </div>
         </div>
      </div>
      </div>
   </body>
</html>