<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project Overview</title>
</head>
<body>
    <nav class="nav-buttons">
        <a href="/main">Overview</a>
        <a href="/project">Project</a>
        <a href="/user">User</a>
    </nav>
    <form action="/api/project" method="POST">
        <select name="projectid" id="projectid">
            {% for pid in all_pids %}
                <option value="{{ pid }}">{{ pid }}</option>
            {% endfor %}
        </select>
        <input type="week" id="weekly" name="week" min="2023-W01" max={{ maxweek }}>
        <input type="submit" name="interval" value="weekly">
        <input type="month" id="monthly" name="month" min="2023-01" max={{ maxmonth }}>
        <input type="submit" name="interval" value="monthly">
        <select name="year" id="year">
            <option value="2023-01-01">2023</option>
            <option value="2024-01-01">2024</option>
        </select>
        <input type="submit" name="interval" value="annually">
    </form>
</body>
</html>